---
layout: default
---

<div id="tags-container">
    <h2 id="tags-header">Tags</h2>
    {% include ad-feed.html %}
    <h3 class="tags-subheader">Post Series</h3>
    <span class="post-tag">
        <a href="{{ "/tag/power-rankings" }}"><i class="fas fa-tag" aria-hidden="true"></i> Power Rankings</a>
    </span>
    <span class="post-tag">
        <a href="{{ "/tag/game-picks" }}"><i class="fas fa-tag" aria-hidden="true"></i> Game Picks</a>
    </span>
    <span class="post-tag">
        <a href="{{ "/tag/top-25" }}"><i class="fas fa-tag" aria-hidden="true"></i> Top 25</a>
    </span>

    <h3 class="tags-subheader">Teams</h3>
    <span class="post-tag">
        <a href="{{ "/tag/alabama" }}"><i class="fas fa-tag" aria-hidden="true"></i> Alabama</a>
    </span>
    <span class="post-tag">
        <a href="{{ "/tag/arkansas" }}"><i class="fas fa-tag" aria-hidden="true"></i> Arkansas</a>
    </span>
    <span class="post-tag">
        <a href="{{ "/tag/auburn" }}"><i class="fas fa-tag" aria-hidden="true"></i> Auburn</a>
    </span>
    <span class="post-tag">
        <a href="{{ "/tag/florida" }}"><i class="fas fa-tag" aria-hidden="true"></i> Florida</a>
    </span>
    <span class="post-tag">
        <a href="{{ "/tag/georgia" }}"><i class="fas fa-tag" aria-hidden="true"></i> Georgia</a>
    </span>
    <span class="post-tag">
        <a href="{{ "/tag/kentucky" }}"><i class="fas fa-tag" aria-hidden="true"></i> Kentucky</a>
    </span>
    <span class="post-tag">
        <a href="{{ "/tag/lsu" }}"><i class="fas fa-tag" aria-hidden="true"></i> LSU</a>
    </span>
    <span class="post-tag">
        <a href="{{ "/tag/mississippi-state" }}"><i class="fas fa-tag" aria-hidden="true"></i> Mississippi State</a>
    </span>
    <span class="post-tag">
        <a href="{{ "/tag/missouri" }}"><i class="fas fa-tag" aria-hidden="true"></i> Missouri</a>
    </span>
    <span class="post-tag">
        <a href="{{ "/tag/ole-miss" }}"><i class="fas fa-tag" aria-hidden="true"></i> Ole Miss</a>
    </span>
    <span class="post-tag">
        <a href="{{ "/tag/south-carolina" }}"><i class="fas fa-tag" aria-hidden="true"></i> South Carolina</a>
    </span>
    <span class="post-tag">
        <a href="{{ "/tag/tennessee" }}"><i class="fas fa-tag" aria-hidden="true"></i> Tennessee</a>
    </span>
    <span class="post-tag">
        <a href="{{ "/tag/texas-a-m" }}"><i class="fas fa-tag" aria-hidden="true"></i> Texas A&M</a>
    </span>
    <span class="post-tag">
        <a href="{{ "/tag/vanderbilt" }}"><i class="fas fa-tag" aria-hidden="true"></i> Vanderbilt</a>
    </span>

    <h3 class="tags-subheader">Other Tags</h3>
    <span class="post-tag">
        <a href="{{ "/tag/offseason" }}"><i class="fas fa-tag" aria-hidden="true"></i> Offseason</a>
    </span>
    <span class="post-tag">
        <a href="{{ "/tag/preseason" }}"><i class="fas fa-tag" aria-hidden="true"></i> Preseason</a>
    </span>
    <span class="post-tag">
        <a href="{{ "/tag/stats" }}"><i class="fas fa-tag" aria-hidden="true"></i> Stats</a>
    </span>
    <span class="post-tag">
        <a href="{{ "/tag/history" }}"><i class="fas fa-tag" aria-hidden="true"></i> history</a>
    </span>
    <span class="post-tag">
        <a href="{{ "/tag/nba-draft" }}"><i class="fas fa-tag" aria-hidden="true"></i> NBA Draft</a>
    </span>
    <span class="post-tag">
        <a href="{{ "/tag/recruiting" }}"><i class="fas fa-tag" aria-hidden="true"></i> Recruiting</a>
    </span>
    <span class="post-tag">
        <a href="{{ "/tag/ncaa-tournament" }}"><i class="fas fa-tag" aria-hidden="true"></i> NCAA Tournament</a>
    </span>
    {% include ad-feed.html %}
</div>