<!DOCTYPE html>
<html>

	<head>
		{% include head.html %}
		{% feed_meta %}
		{% seo %}
	</head>

	<body>
		{% include header.html %}
		{{ content }}
		<script>window.twttr = (function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0],
			  t = window.twttr || {};
			if (d.getElementById(id)) return t;
			js = d.createElement(s);
			js.id = id;
			js.src = "https://platform.twitter.com/widgets.js";
			fjs.parentNode.insertBefore(js, fjs);
		  
			t._e = [];
			t.ready = function(f) {
			  t._e.push(f);
			};
		  
			return t;
		  }(document, "script", "twitter-wjs"));</script>
		<div id="fb-root"></div>
		<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v9.0" nonce="g0ti8ycm"></script>
		{% include footer.html %}
	</body>

</html>